<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thin_client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.game_mode.free_draw.FreeDrawActivity"
            android:label="@string/title_activity_free_draw"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Lobby"/>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.createUser.CreateUserActivity"
            android:label="@string/sign_up"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.Lobby"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.chatrooms.ChatRoomsFragment"
            android:label="@string/chat_rooms"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".ui.chat.ChatFragment"
            android:label="@string/chat_rooms"
            android:screenOrientation="landscape">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.chatrooms.ChatRoomsFragment"/>
        </activity>
        <activity android:name=".ui.profile.ProfileActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape"
            android:label="@string/profile">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Lobby"/>
        </activity>
    </application>

</manifest>
