<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thin_client">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.game_mode.MatchList"
            android:label="@string/title_activity_games_list"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Lobby" />
        </activity>
        <activity
            android:name=".ui.leaderboard.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Lobby" />
        </activity>
        <activity
            android:name=".ui.game_mode.free_draw.FreeDrawActivity"
            android:label="@string/title_activity_free_draw"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Lobby" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ui.createUser.CreateUserActivity"
            android:label="@string/sign_up"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.Lobby"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ui.chatrooms.ChatRoomsFragment"
            android:label="@string/chat_rooms"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.chat.ChatFragment"
            android:label="@string/chat_rooms"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.chatrooms.ChatRoomsFragment" />
        </activity>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/profile"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Lobby" />
        </activity>
        <activity
            android:name=".ui.game_mode.free_draw.ObserverFragment"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ui.game_mode.free_draw.DrawerFragment"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ui.game_mode.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Lobby"/>
        </activity>
    </application>

</manifest>